* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {

}

h2{
    font-weight: 1vw;
    color: white;
    display: flex;
    padding: 0.8vw;
    margin-left: 1.5vw;
    padding: 0 auto;
    font-family: 'Koulen', sans-serif;
    letter-spacing: 0.09rem;

}
.Main_menu {
  background: linear-gradient(
    160deg,
    #001428 0%,      /* Téměř černá modrá — nejhlubší stín */
    #5f89bc 30%,     /* Tmavá námořní */
    #003d80 60%,     /* Střední modrá */
    #5f89bc 80%,     /* Živější modrá */
    #001428 100%     /* Zpět do hlubin — vytváří "oblouk" světla */
  );
  box-shadow: 0 2vw 4vw rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 7vw;
}


.Logo-Row{
     display: flex;

    margin-right: 9.5rem;
    margin-bottom: 2rem;

}

.Logo{
   width: 4rem;
    height: 4rem;
    transform: translate(-5vw, -1.3vw);
    margin-left: 5rem;
    padding: 0.9rem;
    margin-right: 2rem;
    transform: translate(-4vw, -2vw);
    margin-bottom: 1rem;
    filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.1));

}

h4 {
  color: #f75c1f;
  margin-left: 1vw;
  right:  -4vw;
  transform: translate(-8vw, -5.1vw);
  margin-bottom: 6.5vw;
  white-space: nowrap;
  margin-top: 5vw;
    letter-spacing: 0.15rem;
    font-family: 'Lekton', 'Courier New', monospace;




}

.Vertical_Menu {
  list-style: none;
  flex-direction: column;
  display: flex;
  margin-left: 5vw;
  color: white;
  margin-top: -8vw;








}

.Vertical_Menu li a{
  text-decoration: none;
  display: flex;
  color: white;
  gap: 2vw;
  padding: 1vw;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;




}


.Menu-Icon{
  width: 2vw;
  height: 2vw;
  vertical-align: middle;



}




.ButtonChatBot{
  width: 5vw;
  height: 5vw;
  background: linear-gradient(to right, #FF6600, #f77343);
  border-radius: 1.1vw;
  margin-top: -8vw;
  margin-left: 8.3vw;
  border: white solid 0.15vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Button{
  width: 3vw;
  height: 3vw;
  cursor: pointer;

}


.Up_Menu{
  position: absolute;
  left: 22vw;
  top: 0;
  width: calc(100vw - 22vw);
  height: 6vw;
  display: flex;
  align-items: center;
  padding-left: 2vw;
  border-bottom: 0.3vw solid white;
  background: linear-gradient(to right, #003366, #0066CC);





}

.TopMenu{
  text-decoration: none;
  list-style: none;
  display: flex;
  gap: 2vw;
  padding: 1vw 2vw;
  margin: 0;
  margin-left: 35vw;



}

.TopMenu li a{
  text-decoration: none;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5vw 1vw;
  border-radius: 0.5vw;
  transition: background 0.3s;

}

.Top_Menu li a:hover {
  background: #003366;
}


/*TODO: FOOTER -->
