<!DOCTYPE html> 
<html lang="cs">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="Safety Partners - E-learning managment system">
<meta property="og:title" content="Absolvujte kurz, Kompletujte test, Certifikát platný">
<meta property="og:description" content="Certifikáty Generované AI v PDF">
<meta property="og:image" content=""><!--TODO: Doplnit adresu webu-->
<meta property="og:url" content=""><!--TODO: Doplnit adresu webu-->
<meta property="og:type" content="website">
<!-- <meta http-equiv="Content-Security-Policy" content="script-src 'self';"> -->

<link rel="icon" type="image/x-icon" href="/SPL.png">
<link rel="stylesheet" href="../ViewsCss/Dashboard.css">
<link rel="stylesheet" href="../ViewsCss/StyleCMS.css">
<link rel="stylesheet" href="../ViewsCss/ModalCMS.css">
<link rel="stylesheet" href="../ViewsCss/ChatBotStyleCMS.css">
<link rel="stylesheet" href="../ViewsCss/Analytics.css">
<title>Safety Partners - CMS Dashboard</title>
</head>
<body>
<div class="Main_menu">
  <h2>SAFETY PARTNERS</h2>
  <div class="Logo-Row">
  <img src="../Logo.png" alt="Logo" class="Logo">
  <h4>Editorial system Dashboard</h4>
  </div><!--TODO: Vertikální menu-->
  <ul class="Vertical_Menu">
    <li><a href="../Views/CMS.html">
      <img src="../Kurzy.png" alt="Kurzy" class="Menu-Icon">Redakční systém</a></li>
    <li><a href="../Views/UživateléAOprávnění.html">
      <img src="../Uživatel.png" alt="Uživatel" class="Menu-Icon">Uživatelé</a></li>
    <li><a href="../Views/Analytika.html">
      <img src="../Reporty.png" alt="Reporty" class="Menu-Icon">Analytika</a></li>
    <li><a href="../Views/CertifkátyCMS.html">
      <img src="../Dokumentace.png" alt="Dokumentace" class="Menu-Icon">Certifikáty</a></li>
    <li><a href="../Views/NastaveníCMS.html">
      <img src="../Nastavení.png" alt="Nastavení" class="Menu-Icon">Nastavení</a></li>
  </ul>
  </div>

<!--TODO: CHATBOT FORMULÁŘE............................................................................................-->

<!--TODO: ChatBot Button-->
<div class="ButtonChatBot">
  <img src="../Button.png" alt="Button" class="Button" id="ChatBotOpen">
</div>

<!--TODO: ChatBotModal-->
<div id="ChatBotModal" class="chatbot-modal">
  <div class="chatbot-modal-content">
    <span class="chatbot-close">&times;</span>
<h3 class="h3ChatBot">Chatbot</h3>

<!--TODO: Historie chatu -->
<div class="chatbot-history" id="chathistory">
<p><em>"Jak se zapsat do kurzu", "Kdy mohu udělat test?", "Kde najdu certifikát?", "Kdy musím dělat znovu test?"</em></p>
</div>
<!--TODO: Tělo Chatbota-->
<div class="chatbot-body">
  <p>Zde se zeptejte ChatBota</p>
  <textarea id="userInput" placeholder="Napiš svůj dotaz..."></textarea>
  <button id="SendMessage" type="button">Odeslat</button>
  </div>
 </div>
</div>




<!--TODO: Horní menu-->
  <div class="Container1">
      <div class="Content">
<div class="Up_Menu">
  <ul class="TopMenu">
<li><a href="../Views/Dashboard.html">Dashboard</a></li>
<li><a href="../Views/Notifikace.html">Notifikace</a></li>
<li><a href="../Views/Legislativa.html">Legislativa</a></li>
<li><a href="../Views/Audit_Log.html">Audit Log</a></li>
</ul>
<!--TODO: Divy k UpMenu-->
</div>
</div>
</div>

<!--TODO: Dashboard space // Analytics dashboard


<!--TODO: Elementž pro výslednouz hodnotu měření behaviorální biometrie!

-->

<!--TODO: COMMENT: DODĚLAT MÍSTO OUTPUTU !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
<article class="heroBiometry">
  <span class="biometryTitle" id="biometryTitleId">Behaviorální <br>biometrie</span>

  <output class="biometryValue" aria-labelledby="biometryTitleId">96%</output>

  <meter class="biometryMeter"
         min="0" max="100"
         low="50" high="80" optimum="100"
         value="96"
         aria-labelledby="biometryTitleId">
    96%
  </meter>
</article> -->

<main class="plocha">
<section class="backgroundDashboard">
  <div class="SpaceDiv">
  <!--TODO: AKTUÁLNÍ NÁVŠTĚVNOST -->
  <article class="herocurrentAttendance">
    <span class="currentAttendanceTitle">Aktuálně v <br>systému</span>
    <!--IMPORTANT: Progresivní průběh operace -->
    <output class="currentAttendanceValue" name="result" for="inputA inputB">12</output>
  </article>
  <!--TODO: POČET AKTIVNÍCH KURZŮ-->
  <article class="heroActiveCourses">
    <span class="activeCoursesTitle">Aktivní kurzy</span>
    <!--IMPORTANT: Progresivní průběh operace -->
        <output class="activeCoursesValue" name="result" for="inputA inputB">20</output>
  </article>
  <!--TODO: OBSAHOVÁ DATABGÁZE -->
  <article class="heroContentDatabase">
    <span class="contentDatabaseTitle">Obsahová <br>Databáze</span>
    <!--IMPORTANT: Progresivní průběh operace -->
        <output class="contentDatabaseValue" name="result" for="inputA inputB">234</output>
  </article>
  <!--TODO: BEHAVIORÁLNÍ BIOMETRIE -->
  <article class="heroBiometry">
    <span class="biometryTitle">Behaviorální <br>biometrie</span>
    <!--IMPORTANT: Progresivní průběh operace -->
        <output class="contentDatabaseValue" name="result" for="inputA inputB">96%</output>
  </article>
  </div>
  </section>
<!--TODO: Analyzační dashboard spodní část ---------------------------- -->

<!--IMPORTANT: SPODNÍ ČÁST ANALYTICKÉHO DASHBOARDU PROSTŘEDÍ ADMIN =====================-->

<section class="dataAnalysisDashboard">
  <!--TODO: Biometrie křivky -->
<article class="dataAnalysisContent">
  <canvas id="progressGraph" width="600" height="200"></canvas>
<!--PWD_NOTES:Obsahová struktura <canva class="" // Vykreslování -->
</article>
  <!--TODO: Biometrie - aktivní okno -->
  <article class="activeDashboard">
<!--TODO:: Obsahová struktura aktivního okna / Prostor realizace 3 aktivních signalizačních hodnot-->
<!--IMPORTANTSELEKTIVNÍ ČÁST INDIKAČNÍHO ZOBRAZENÍ =========================================================================================== -->
<progress id="raw_progress" min="0" max="1" class="ActiveSignal" value="#"
                        style="opacity: 0; pointer-events: none; width: 1px;"></progress>                    
                    <div class="diodeLed" id="activeDiode" aria-live="polite" aria-label="stav-systému">

                        
            <section class="Obsahové-pole"> <!--   <article class="refresh-okno-events">--> 
                    <data value="#" class="event-log" aria-label="přehled-událostí">
                        <!--TODO: Tag REVERSED udržuje nejnovější eventy nahoře... -->
                        <ol id="event-list" reversed>
                            <!--TODO: Zde se přidají nové <li události pomocí JS ================= -->
                            <li class="eventActive" id="event-placeholder">
                                <p class="eventActivePart">Aktivita systému Admin</p>   
                            </li>
                        </ol>
                    </data><!--</article> -->
            </section>
            </div>
        </article>
    </main>































<!--TODO: Patička-->
  <div class="Container2">
    <h3 class="Patička">Aetherium Core 2026 by PWD Resolution</h3>
    </div>



<!--TODO: SKRIPTY......................................................................................................-->
<script type="module" src="../Services/Chatbotmanager.js"></script>
<script type="module" src="../Components/Dashboard.js"></script>
<script type="module" src="/utils/security.client.js"></script>
<script type="module" src="../Components/Admin_Dashboard_Logika/asideLogicAdmin.js"></script>



</body>
</html>


